---
# Building in prompts
#server_hostname: 

server_domain: 

do_api_token: 

do_size_id: s-1vcpu-1gb
do_region_id: nyc3
do_image_id: fedora-30-x64
do_ssh_keys: 24116044,24331192

normal_user_name:
# Hashed value via passlib 
# `python -c "from passlib.hash import sha512_crypt; print(sha512_crypt.hash('$PASSWORD'))"`
normal_user_password:
git_user_name:
# If left blank, github.com will be inferred
git_url:
